*{
   margin: 0;
   padding: 0;
   
}
.cuerpo{
    background-color: dimgray;
}
.div1{
    background-image: url(images/descarga6.jpg);
    padding: 240px;
    padding-bottom: 0px;
    width: 863px;
    
   
    
}
.cajaTitulo {
    margin-top: -150px;
    margin-left: 200px;
    margin-right: -100px;
    text-align: right;
    padding-bottom: 20px;
    padding-top: 20px;
    

}

#titulo {
    color: black;
    font-family: 'Kufam', cursive;
    font-size: 50px;
    border-bottom: 3px solid black;
    margin-left: 300px;
}
.div2{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-top: 240px;
    margin-right: -240px;
    margin-left: -250px;
    background-color: white;
    opacity: 0.75;
    padding-left: 30px;
    
    
}

nav ul{
    border: 0;
    margin-top: -15px;
}
nav li{
    font-family: 'Kufam', cursive;
    display: inline;
    padding: 9px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    color: black;
    transition: 0.5s;
}
nav li:hover {
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
    
}
#home{
    padding-right: 10px;
}
.musica {
    padding: 20px;
    width: 300px;
}
