*{
   
}
.cuerpo{
    background-color: dimgray;
}
.cajaTitulo {
    padding: 20px;
    background-color: darkslategrey;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#titulo {
    color: aqua;
    text-align: center;
}
